# Machel COVID-19 assignment for Kybernum course

In [2]:
# Import Library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#import data
covid = pd.read_csv('https://covid.ourworldindata.org/data/ecdc/full_data.csv')

In [4]:
covid

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
0,2019-12-31,Afghanistan,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,Afghanistan,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,Afghanistan,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-03,Afghanistan,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-04,Afghanistan,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
59349,2020-11-25,Zimbabwe,90.0,1.0,9398.0,274.0,453.0,14.0,788.0,19.0
59350,2020-11-26,Zimbabwe,110.0,0.0,9508.0,274.0,527.0,13.0,841.0,19.0
59351,2020-11-27,Zimbabwe,115.0,0.0,9623.0,274.0,577.0,9.0,927.0,19.0
59352,2020-11-28,Zimbabwe,91.0,1.0,9714.0,275.0,594.0,10.0,949.0,18.0
59353,2020-11-29,Zimbabwe,108.0,0.0,9822.0,275.0,650.0,10.0,1036.0,18.0